<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BarberManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BarberManagement.styles.css" asp-append-version="true" />
</head>

<body class="bg-default bg-main">
    <header>
        <nav
            class="navbar text-white navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!-- #region  --> <a class="navbar-brand text-white" asp-area="" asp-controller="Home"
                    asp-action="Index">
                    <img class="rounded-circle logo" src="~/images/logo.webp" />
                </a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-bewteen">
                    <ul class="navbar-nav flex-grow-1 d-sm-flex justify-content-bewteen gap-3">
                        <li class="nav-item">
                            <a class="nav-link text-white d-sm-inline-flex justify-content-bewteen gap-2" asp-area=""
                                asp-controller="Home" asp-action="Index"><i class="bi bi-journal-medical"></i> Agenda
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white d-sm-flex justify-content-bewteen gap-1" asp-area=""
                                asp-controller="Home" asp-action="Privacy">
                                <i class="bi bi-pencil-square"></i> Anotações
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white d-sm-flex justify-content-bewteen gap-1" asp-area="Clientes"
                               asp-controller="Clientes" asp-action="Index">
                                <i class="bi bi-people"></i> Clientes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white d-sm-flex justify-content-bewteen gap-1" asp-area=""
                                asp-controller="Home" asp-action="Privacy">
                                <i class="bi bi-scissors"></i> Serviços
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white d-sm-flex justify-content-bewteen gap-1 align-items-center dropdown-toggle" role="button" data-bs-toggle="dropdown" asp-area=""
                                asp-controller="Home" asp-action="Privacy">
                                <i class="bi bi-gear"></i> Gerencial
                            </a>
                            <ul class="dropdown-menu bg-dark">
                                <li><a class="dropdown-item text-white bg-dark" >
                                   <i class="bi bi-person-plus"></i> Cadastrar cliente</a>
                                </li>
                                <li><a class="dropdown-item text-white bg-dark" href="#">
                                   <i class="bi bi-person-plus"></i> Cadastrar barbeiro
                                    </a>
                                </li>
                                <li ><a class="dropdown-item text-white bg-dark" href="#">
                                   <i class="bi bi-briefcase-fill"></i> Cadastrar serviço
                                    </a>
                                </li>
                                <li ><a class="dropdown-item text-white bg-dark" href="#">
                                   <i class="bi bi-bag-fill"></i> Cadastrar Produto
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark ">
        <div class="container text-white text-center">
             - &copy; 2024 BarberManagement - 
        </div>
    </footer>
    <script src="~/js/script.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
