
<div class="w-100 border border-1 border-white card">
	<form id="form-search-client" class="w-100 d-flex justify-content-center mt-2">
		<input id="search-client" type="text" name="name" placeholder="Busque por um cliente" class="text-white bg-transparent border-none w-50 mx-auto px-2 input-search-client mx-auto border border-1" />
	</form>

	<table class="table table-responsive w-100 mt-3">
		<thead class="w-100">
			<tr class="text-white">
				<th>Nome</th>
				<th>Sobrenome</th>
				<th>Aniversário</th>
				<th>Serviço de costume</th>
				<th>Observações</th>
			</tr>
		</thead>
		<tbody id="table-clients">

		</tbody>
	</table>
</div>

<script>
	const formSearchClient = document.getElementById("form-search-client")
	const inputSearchElement = document.getElementById("search-client")
    const tableClients = document.getElementById("table-clients")

	const searchClient = async (name) => {
		if(name !== ""){
			const urlSearchClient = `Clients/SearchClient`
			const response = await fetchData(urlSearchClient, "POST", name)
			return response
		}
	}

	const showClients = (clients) => {

		clients.forEach(client => {
		  const tr = document.createElement("tr")
		  tr.classList.add("w-100","text-white")

		  const tdName = document.createElement("td")
		  const tdLastName = document.createElement("td")
		  const tdBirthday = document.createElement("td")
		  const tdService = document.createElement("td")
		  const tdObs = document.createElement("td")

		  tdName.textContent = client.name
		  tdLastName.textContent = client.lastName
		  tdBirthday.textContent = client.birthday
		  tdService.textContent = client.favorite_Service
		  tdObs.textContent = client.observation

		  tr.appendChild(tdName)
		  tr.appendChild(tdLastName)
		  tr.appendChild(tdBirthday)
		  tr.appendChild(tdService)
		  tr.appendChild(tdObs)

		  tableClients.appendChild(tr)
		})
	}

	formSearchClient.addEventListener("submit", async (e) => {
		e.preventDefault()
		const dataSearch = inputSearchElement.value;
		const clients = await searchClient(dataSearch)
		tableClients.innerHTML = ``
		inputSearchElement.value = ''
	    showClients(clients)
	})

</script>