@model BarberManagement.ViewModels.UserViewModel;

@{
  Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />



<body class="d-flex justify-content-center align-items-center vh-100 bg-default bg-banner-login overflow-hidden">

  <div class="bg-dark opacity-person text-white py-5 px-4 rounded-person shadow" style="width: 350px;">
    <div class="logo w-25 mb-5 mx-auto">
      <img class="w-100 rounded-circle" src="~/images/logo.webp" alt="">
    </div>
    @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey("Error"))
    {
      var errorMsg = ViewData.ModelState["Error"]!.Errors.FirstOrDefault()?.ErrorMessage;
      Console.WriteLine(errorMsg);

      <div id="error-box" class="alert alert-danger" role="alert">
        @errorMsg  
      </div>
    }

    @{
      var msgSuccess = TempData["Success"] as string;
      if(!String.IsNullOrEmpty(msgSuccess)){
          <div id="success-box" class="alert alert-success">
            @TempData["Success"]
          </div>
      }
    }

    <form asp-area="Login" asp-asp-controller="Login" asp-action="LoginPost" method="POST">
      <div class="mb-3">
        <input asp-for="NameAdm" type="text" class="form-control bg-white text-dark border-0 shadow-sm" id="username"
          placeholder="Usuário">
      </div>
      <div class="mb-3">
        <input asp-for="PasswordAdm" type="password" class="form-control bg-white text-dark border-0 shadow-sm"
          id="password" placeholder="Senha">
      </div>
      <button type="submit"
        class="btn btn-dark-custom opacity-100 fw-bold text-white rounded-person w-100 text-uppercase mt-3">Entrar</button>
    </form>
  </div>

  <!-- Link do Bootstrap 5 JavaScript (opcional, para funcionalidades JS do Bootstrap) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/script.js"></script>
</body>

</html>