html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%; 
}

body {
  margin-bottom: 60px;
}

.bg-banner-login{
  background-image: url('../images/bg-login.webp');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.opacity-person{
  opacity: 0.9;
}

.opacity-1{
  opacity: 1 !important;
}

.rounded-person{
  border-radius: 25px;
}

.w-35{
  width: 35%;
}

.btn-dark-custom{
  background-color: black;
}